._subItemAddNewButton {
  width: 120px;
  height: 27px;
  border: 1px solid #4F5858;
  background: #d9d9d9;
  color: #4F5858;
  cursor: pointer;
  display: block;
  padding: 6px 10px;
  font-size: .8em;
  text-align: center;
}


._loader {
  border: 5px solid #FFFFFF; /* Light grey */
  border-top: 5px solid #3bafc7; /* Blue */
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}