._subItemAddNewButton {
  width: 120px;
  height: 27px;
  border: 1px solid black;
  background: #F9F9F9;
  color: #646464;
  cursor: pointer;
  display: block;
  padding: 6px 10px;
  font-size: .8em;
  text-align: center;
}