
.addIssueModal {
    .modal {
        margin-top: 40px !important;
        .titlebar {
            .titlebarinner {
                .title {}
            }
        }
        .modalbody {
            .modalboddyinner {}
        }
    }
}

.addIssueCard {
    .addIssue {
        background: #FFFFFF;
        cursor: pointer;
        border: 0;
        color: #4F5858;
        padding: 10px 0;
        width: 100%;
    }
}

.addIssue {
    background: #FFFFFF;
    cursor: pointer;
    border: 0;
    color: #4F5858;
    padding: 10px 0;
    width: 100%;
}

.addIssues {
    border: 0 !important;
    width: 100%;
    @extend .articleInnerForm;
    .saveButtonAddIssueHolder {
        background: #EAEAEA !important;
        float: none !important;
        padding: 20px 60px 70px 0 !important;
        .addIssue {
            float: right;
            width: 176px;
            height: 40px;
            line-height: 18px;
            background: #3eb1c8;
            color: #FFFFFF;
            font-size: 16px;
            padding-bottom: 10px;
            position: relative;
            right: -20px;
        }
        .cancelButton {
            background: #e5e5e5;
            border: 1px solid #434343;
            color: #434343;
            float: right;
            right: 10px;
            padding: 8px;
            text-align: center;
        }
    }
    .articleInnerForm {
        border: 0 !important;
    }
    .body {

        .infohelper {
          padding-top: 7px !important;
        }

        .row {
            width: 100% !important;
            .fieldHolder {
                padding: 0 0 0 40px;
                .fieldinnerholder {
                    .requrefieldholder {
                        .requiredholder {
                            width: 20px;
                        }
                    }
                }
            }
            .errorHolder {
                height: 100%;
            }
        }
    }
    .topbar {
        background: #FFFFFF !important;
        color: #4F5858 !important;
        padding: 0 !important;
        .addholder {
            a {
                background: #FFFFFF !important;
                border: 1px solid #4F5858 !important;
            }
        }
    }
}

.optionalissueiinfo {
    .innerCardHolder {
        background: #FFFFFF;
        border: 1px solid #EDEFF1;
        margin: 12px;
        width: 80%;
        .addFields {
            background-color: #f3f3f3;
            border: solid 1px black;
            box-shadow:none;
            margin-bottom:25px;
            margin-top:1px;
            margin-right:530px;
            left:-20px;
            width:100px;
            height: 25px;

        }
    }
    .subItemRow {
        margin: 0;
    }
    .row {
        .fieldHolder {
            width: 100% !important;
        }
    }
}

.button-left {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.disabledDoi {
    background-color: lightgrey;
}

.actionTooltip {
    position: relative;
    float: right;
    padding-top: 9px;
    text-align: center;
    div {
        position: absolute;
        width: 174px;
        color: #FFFFFF;
        background: #616B6B;
        height: 90px;
        line-height: 30px;
        text-align: left;
        border-radius: 0px;
        padding: 10px 0 10px 30px;
        visibility: visible;
        opacity: 1;
        bottom: 57px;
        right: 0;
        z-index: 999;
        border-left: solid 1px rgb(84, 84, 84);
        p {
            font-size:.88em;
            margin-top:3px;
            margin-bottom:3px;
        }
    }
    div:after {
      -ms-transform: rotate(180deg); /* IE 9 */
      -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
      transform: rotate(180deg);
      content: '';
      position: absolute;
      top: 100%;
      left: 46%;
      width: 0;
      height: 0;
      border-bottom: 8px solid #616B6B;
      border-right: 8px solid transparent;
      border-left: 8px solid transparent;
    }
}