@import './common';

.bulkUpdateModal {
  top: 220px;
  .bulkUpdateContainer {
    width: 100%;
    height: 320px;

    padding: 10px 20px;

    .content {
      width: 100%;
      height: 230px;
      padding-bottom: 50px;
      font-family: Helvetica Neue, Medium;
      flex-direction: row;

      .sectionTitle {
        width: 98%;

        font-size: 14px ;
      }
      .dropContainer{
        width:100%;
        .acceptFile{
          background-color: #d3f3ff !important;
        }
        .rejectFile{
          background-color: $light-red !important;
        }
        .dropZone{
          position: relative;
          height: 150px;
          border-width: 2px;
          border-color: $light-grey;
          background-color: $lighter-grey;
          border-style: dashed;
          display: flex;
          .uploadIcon{
            width: 50px;
            height:80px;            
            
          }
          .dropAreaText{
            margin-top:10px;
            padding-left:10px;
            .text{
              margin-bottom:0px;
            }
            .openFile{
              color: deepskyblue;
              cursor: pointer;
            }
          }
        }
      
      }

      .helpArea {
        position: absolute;
        right: 5px;
        top: 92px;
        z-index: 999;
        width: 50px;
        height: 50px;

        .helpIcon {
          width: 20px;
          cursor: pointer;
          position: absolute;
          right: 15px;
        }

        .helpBubble {
          width: 300px;
          height: 100px;
          background-color: $yellow;
          position: absolute;
          right: -35px;
          top:32px;
          border-radius: 8px;
          padding-left: 15px;
          padding-top: 1px;
          box-sizing: border-box;
        }
      }
    }
      .validationFields {
       
        .validationFieldsInner {
          .vertspacer{
            height:20px;
          }
         
          .headerColumn{
            width: 50%;
            display: flow-root;
            .tooltip {
              
              display: inline-block;
            }
            position: relative;
            .tooltiptext  {
              width: 300px;
              background-color: red;
              color: #fff;
              text-align: center;
              border-radius: 6px;
              padding: 5px 0;
              margin-top: -4px;
              position: absolute;
              z-index: 1;              
              left: 110%;
            }
            
            .tooltiptext::after  {
              content: "";
              position: absolute;
              top: 50%;
              right: 100%;
              margin-top: -5px;
              border-width: 5px;
              border-style: solid;
              border-color: transparent red transparent transparent;
            }

            .requrefieldholder {
              float: left;
              width: 100%;

              .requiredholder {
                background: #3eb1c8;
                border: 1px solid #3eb1c8;
                float: left;
                width: 30px;

                .required {
                  color: #FFFFFF;

                  font: {
                    size: 20px;
                  }

                  padding: 0 6px;

                  span {
                    position: relative;
                    top: 7px;
                  }
                }
              }

            .norequire {
              background: none;
              border: 0px;
            }
          }
        }
      }
    }

    .buttons {
      width: 100%;
      height: 40px;
      $buttonWidth: 140px;

      .cancel {
        background: $light-grey;
        border: 1px solid $dark-grey;
        color: $dark-grey;
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        width: $buttonWidth;
        height: 40px;
        margin-right: 30px;
        cursor: pointer;
      }
      .deposit {
        float: right;
        width: $buttonWidth;
        height: 40px;
        line-height: 18px;
        background: $teal;
        color: #FFFFFF;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
      .depositNotReady {
        border: 1px solid $dark-grey;
        background-color: white !important;
        color: $dark-grey !important;
        cursor: not-allowed !important;
      }
    }
  
}

}