.depositHistory {
    margin: 0 auto;
    text-align: left;
    width: 960px;
    input, select {
        border: 1px solid #DEE1E5;
    }
    .labelHolder {
        position: relative;
        top: 8px;
    }
    .pageTitle {
        font-size: 26px;
        text-align: left;
        margin: 0;
        color: #4f5858;
        padding: 35px 0;
    }
    .dateSearchHolder {
        height: 96px;
        .start, .end {
            display: inline-block;
            padding: 22px 32px;
        }
        .start{
            background: #EAEAEA;
            float: left;
        }
        .end{
            background: #EAEAEA;
            float: right;
        }

        .datepickerholder {

          .dateselectholder {
            margin: 0 5px 0 0;
            width: 85px !important;
            float: left;

            .datepickselects {
              width: 85px !important;
              float: left;
              padding: 0 10px;
            }
          }

          .dateicon {
            width: 30px !important;
            display: inline-block;
            margin-left: -5px;

            .iconHolder {
              background: #FFF;
              display: inline-block;
              width: 37px;
              border-top: 1px solid black;
              border-right: 1px solid black;
              border-bottom: 1px solid black;

              .calendarButton {
                display: inline-block;
                height:auto;
                width:39px;
                padding: 1px 4.5px;
                cursor: pointer;

                .calendarIcon {
                  display: inline-block;
                  width: 27px;
                }
              }
            }
          }

        }
    }
    .doiSearchHolder {
        height: 32px;
        padding: 30px 0 18px;
        width: 100%;
        .doiSearch {
            border: 1px solid #DEE1E5;
            float: right;
            height: 32px;
            width: 460px;
        }
    }
    .historyData {
        border-spacing: 0;
        margin: 0;
        padding: 20px 0 0;
        width: 100%;
        tr {
            th {
                border: 1px solid #DEE1E5;
                border-left: 0px;
                border-right: 0px;
                padding: 8px 0;
            }
            .titleCell {
                width: 290px;
            }
            .dateCell {
                width: 120px;
            }
            .typeCell {
                width: 75px
            }
            .statusCell {
                width: 85px
            }
            .errorCell {
              width: 60px;
              .errorButton {
                width: 25px;
              }
              .errorMessage {
                background: white;
                position: absolute;
                margin-left: -188px;
                margin-top: 10px;
                width: 400px;
                max-height: 350px;
                padding: 0 0 0 12px;
                box-shadow: 0px 1px 6px 3px #d0d0d0;

                p {
                  margin-left: 10px;
                  margin-bottom: 12px;
                  font-size: 1.03em;
                  color: #676262;
                }

                .scrollBox {
                  overflow: scroll;
                  max-height: 305px;
                  padding-right: 12px;

                  .singleError {
                    margin-bottom: 2px;
                    color: white;
                    background: #ff5354;
                    white-space: normal;
                    padding: 8px 12px 8px 12px;
                    font-size: .9em;
                    line-height: 200%;
                  }
                }
              }

              .errorContainer {
                position: absolute;
              }

              .errorContainer:after {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                left: 6px;
                top: 3px;
                border: .5em solid black;
                border-color: transparent transparent white white;
                transform: rotate(135deg);
                box-shadow: -2px 2px 2px 0 #d0d0d0;
              }
            }

            td {
                max-width: 250px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                padding-top: 32px;
            }            
            .first {
                border-left: 1px solid #DEE1E5;
                padding: 8px 0 8px 32px;
                width: 140px;
            }
            .last {
                border-right: 1px solid #DEE1E5;
            }
            .firstTd {

                padding: 32px 0 0 32px;
            }
        }
    }
    .pagination {
        display: inline-table;
        float: right;
        margin-top: 40px;
        li {
                cursor: pointer;
                display: block;
                height: 37px;
                text-align: center;
                float: left;
                margin: 0 2px 0 0;
            a {
                border: 1px solid #CBCBCB;
                display: table-cell;
                margin: 0 2px 0 0;
                height: 37px;
                min-width: 40px;
                padding: 5px;
                vertical-align: middle;
            }
        }
        .active {
            a {
                border: 1px solid #000;
            }
        }

        .rc-pagination-next {
           
                .nex {
                    -webkit-transform: rotate(90deg);
                    -moz-transform: rotate(90deg);
                    -o-transform: rotate(90deg);
                    -ms-transform: rotate(90deg);
                    transform: rotate(90deg);
                    width: 20px;
                    height: 20px;
                    padding: 0;
                    margin: 0;
                    position: relative;
                    top: 8px;
                    right: 1px;
                }
            
        }
        .rc-pagination-prev {
          
                .prev {
                    -webkit-transform: rotate(270deg);
                    -moz-transform: rotate(270deg);
                    -o-transform: rotate(270deg);
                    -ms-transform: rotate(270deg);
                    transform: rotate(270deg);
                    width: 20px;
                    height: 20px;
                    padding: 0;
                    margin: 0;
                    position: relative;
                    top: 8px;
                    right: 1px;
                }
            
        }
    }
}

.orderBy {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    width: 15px;
    height: 15px;
    padding: 0;
    margin: 0;
    position: relative;
    top: 5px;
    left: 5px;
    cursor: pointer;
}
.ordered {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}
