@import url("https://fast.fonts.net/lt/1.css?apiType=css&c=e98f5793-4cb3-43cf-9c5a-90c30937c6bd&fontids=903184,903187,903190,903193,903196,903199,903202,903205");@font-face {
    font-family: "HelveticaNeueETW01-45Lt";
    src: url("fonts/HelveticaNeueETW01-45Lt/HelveticaNeueETW01-45Lt.eot?#iefix");
    src: url("fonts/HelveticaNeueETW01-45Lt/HelveticaNeueETW01-45Lt.eot?#iefix") format("eot"),url("fonts/HelveticaNeueETW01-45Lt/HelveticaNeueETW01-45Lt.woff2") format("woff2"),url("fonts/HelveticaNeueETW01-45Lt/HelveticaNeueETW01-45Lt.woff") format("woff"),url("fonts/HelveticaNeueETW01-45Lt/HelveticaNeueETW01-45Lt.ttf") format("truetype"),url("fonts/HelveticaNeueETW01-45Lt/HelveticaNeueETW01-45Lt.svg#ccde919e-a712-41ef-b90f-9efc47661659") format("svg")
}

@font-face {
    font-family: "HelveticaNeueETW01-46Lt";
    src: url("fonts/HelveticaNeueETW01-46Lt/HelveticaNeueETW01-46Lt.eot?#iefix");
    src: url("fonts/HelveticaNeueETW01-46Lt/HelveticaNeueETW01-46Lt.eot?#iefix") format("eot"),url("fonts/HelveticaNeueETW01-46Lt/HelveticaNeueETW01-46Lt.woff2") format("woff2"),url("fonts/HelveticaNeueETW01-46Lt/HelveticaNeueETW01-46Lt.woff") format("woff"),url("fonts/HelveticaNeueETW01-46Lt/HelveticaNeueETW01-46Lt.ttf") format("truetype"),url("fonts/HelveticaNeueETW01-46Lt/HelveticaNeueETW01-46Lt.svg#c1993d56-4077-454a-8b19-635fa5a39532") format("svg")
}

@font-face {
    font-family: "HelveticaNeueETW01-55Rg";
    src: url("fonts/HelveticaNeueETW01-55Rg/HelveticaNeueETW01-55Rg.eot?#iefix");
    src: url("fonts/HelveticaNeueETW01-55Rg/HelveticaNeueETW01-55Rg.eot?#iefix") format("eot"),url("fonts/HelveticaNeueETW01-55Rg/HelveticaNeueETW01-55Rg.woff2") format("woff2"),url("fonts/HelveticaNeueETW01-55Rg/HelveticaNeueETW01-55Rg.woff") format("woff"),url("fonts/HelveticaNeueETW01-55Rg/HelveticaNeueETW01-55Rg.ttf") format("truetype"),url("fonts/HelveticaNeueETW01-55Rg/HelveticaNeueETW01-55Rg.svg#958b12cf-2908-4254-8cb9-9b12c3aa151e") format("svg")
}

@font-face {
    font-family: "HelveticaNeueETW01-56It";
    src: url("fonts/HelveticaNeueETW01-56It/HelveticaNeueETW01-56It.eot?#iefix");
    src: url("fonts/HelveticaNeueETW01-56It/HelveticaNeueETW01-56It.eot?#iefix") format("eot"),url("fonts/HelveticaNeueETW01-56It/HelveticaNeueETW01-56It.woff2") format("woff2"),url("fonts/HelveticaNeueETW01-56It/HelveticaNeueETW01-56It.woff") format("woff"),url("fonts/HelveticaNeueETW01-56It/HelveticaNeueETW01-56It.ttf") format("truetype"),url("fonts/HelveticaNeueETW01-56It/HelveticaNeueETW01-56It.svg#205c950e-e47f-4d97-9738-0a68edc4258d") format("svg")
}

@font-face {
    font-family: "HelveticaNeueETW01-65Md";
    src: url("fonts/HelveticaNeueETW01-65Md/HelveticaNeueETW01-65Md.eot?#iefix");
    src: url("fonts/HelveticaNeueETW01-65Md/HelveticaNeueETW01-65Md.eot?#iefix") format("eot"),url("fonts/HelveticaNeueETW01-65Md/HelveticaNeueETW01-65Md.woff2") format("woff2"),url("fonts/HelveticaNeueETW01-65Md/HelveticaNeueETW01-65Md.woff") format("woff"),url("fonts/HelveticaNeueETW01-65Md/HelveticaNeueETW01-65Md.ttf") format("truetype"),url("fonts/HelveticaNeueETW01-65Md/HelveticaNeueETW01-65Md.svg#2379b081-2371-47d9-8be9-4e39d7892ebf") format("svg")
}

@font-face {
    font-family: "HelveticaNeueETW01-66Md";
    src: url("fonts/HelveticaNeueETW01-66Md/HelveticaNeueETW01-66Md.eot?#iefix");
    src: url("fonts/HelveticaNeueETW01-66Md/HelveticaNeueETW01-66Md.eot?#iefix") format("eot"),url("fonts/HelveticaNeueETW01-66Md/HelveticaNeueETW01-66Md.woff2") format("woff2"),url("fonts/HelveticaNeueETW01-66Md/HelveticaNeueETW01-66Md.woff") format("woff"),url("fonts/HelveticaNeueETW01-66Md/HelveticaNeueETW01-66Md.ttf") format("truetype"),url("fonts/HelveticaNeueETW01-66Md/HelveticaNeueETW01-66Md.svg#4e787888-465d-4004-b616-6565e88fbe50") format("svg")
}

@font-face {
    font-family: "HelveticaNeueETW01-75Bd";
    src: url("fonts/HelveticaNeueETW01-75Bd/HelveticaNeueETW01-75Bd.eot?#iefix");
    src: url("fonts/HelveticaNeueETW01-75Bd/HelveticaNeueETW01-75Bd.eot?#iefix") format("eot"),url("fonts/HelveticaNeueETW01-75Bd/HelveticaNeueETW01-75Bd.woff2") format("woff2"),url("fonts/HelveticaNeueETW01-75Bd/HelveticaNeueETW01-75Bd.woff") format("woff"),url("fonts/HelveticaNeueETW01-75Bd/HelveticaNeueETW01-75Bd.ttf") format("truetype"),url("fonts/HelveticaNeueETW01-75Bd/HelveticaNeueETW01-75Bd.svg#62455047-c81f-44f1-8938-7739fa0f0e8d") format("svg")
}

@font-face {
    font-family: "HelveticaNeueETW01-76Bd";
    src: url("fonts/HelveticaNeueETW01-76Bd/HelveticaNeueETW01-76Bd.eot?#iefix");
    src: url("fonts/HelveticaNeueETW01-76Bd/HelveticaNeueETW01-76Bd.eot?#iefix") format("eot"),url("fonts/HelveticaNeueETW01-76Bd/HelveticaNeueETW01-76Bd.woff2") format("woff2"),url("fonts/HelveticaNeueETW01-76Bd/HelveticaNeueETW01-76Bd.woff") format("woff"),url("fonts/HelveticaNeueETW01-76Bd/HelveticaNeueETW01-76Bd.ttf") format("truetype"),url("fonts/HelveticaNeueETW01-76Bd/HelveticaNeueETW01-76Bd.svg#3b59e91c-919a-4e7a-9ada-8c73b3378f03") format("svg")
}
