@import 'mixins.scss';

html, body {
  font-family: "HelveticaNeueETW01-55Rg";
  font-size: 14px;
  color: #000;
  font-weight: 400;
  div {
    outline: none;
  }
}

.app {
  min-width: 960px;
}

body {
  margin: 0;
  padding: 0;
  @include flex-direction(column);
  @include display-flex;
}

body, #root, .app {
  min-height: 100vh;
  @include display-flex;
  @include flex-direction(column);
}

.app-contents {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  @include display-flex;
  @include flex-direction(column);
}

* {
  box-sizing: border-box;
}

.loginButton {
  font-size: 16px;
}

.userProfileMenuHolder {
  position: relative;
  .profileMenuTrigger {
    cursor: pointer;
    .profileActions {
      width: 15px;
      height: 15px;
      padding: 0;
      margin: 0 0 0 16px;
      position: relative;
      top: 3px;
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
    }

    .menuOpen {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

  }
  .profileMenu {
    z-index:99;
    position: absolute;
    width:140px;
    color: #FFFFFF;
    background: #4f5858;
    line-height: 10px;
    text-align: left;
    top: 90px;
    left: -30px;
    padding: 8px 0 8px 0;
    p {
      cursor: pointer;
      margin: 0;
      padding: 12px 15px 12px 15px;
    }
    p:hover {
      background: #3eb1c8;
    }
  }

  .profileMenu:after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -8px;
    width: 0; height: 0;
    border-bottom: 8px solid #4f5858;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
  }

}
