@import './common';

.transferTitleModal {
  .transferTitleContainer {
    width: 100%;
    height: 400px;
    padding: 30px 20px;

    .content {
      width: 100%;
      height: 300px;
      padding-bottom: 50px;
      display: flex;
      flex-direction: row;

      .sectionTitle {
        font-size: 14px !important;
      }

      .fromContainer {
        width: 370px;
        background-color: $lighter-grey;

        .titleBar {
          width: 100%;
          height: 30px;
          background-color: $light-grey;
          color: $dark-grey;
          padding: 7px 10px;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 13px;
          overflow: hidden;
          min-width: 0
        }

        p {
          margin-left: 50px;
          font-size: 12px;
        }

        .fromBar {
          width: 75%;
          height: 30px;
          background-color: $light-grey;
          border: 1px solid black;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 12px;
          overflow: hidden;
          padding: 6px 10px;
          margin-left: 30px;
        }
      }

      .center {
        width: 80px;
        height: 100%;
        padding-top: 120px;
      }

      .toContainer {
        width: 370px;
        background-color: $lighter-grey;

        .emptyTitle {
          width: 100%;
          height: 30px;
          background-color: white;
        }

        p {
          margin-left: 50px;
          font-size: 12px;
        }

        .toInput {
          margin-left: 20px;
          height: 30px;
          width: auto;
          display: flex;
          flex-direction: row;
          font-size: 13px;
          position: relative;

          .requiredStar {
            width: 20px;
            background-color: $teal;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            color: white;
          }

          .toPublisherSearch {
            width: calc(90% - 20px);
            border: 1px solid black;
            background-color: white;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 12px;
            overflow: hidden;
            padding: 6px 10px;
          }

          .toPrefixSelect {
            width: calc(80% - 20px);
            border: 1px solid black;
            background-color: white;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 12px;
            overflow: hidden;
            padding: 6px 10px;
          }

          .publicationsList {
            width: calc(90% - 20px);
          }

          .prefixesList {
            width: calc(80% - 20px);
          }

          .list {
            position: absolute;
            left: 20px; top: 29px;
            z-index: 20;
            background-color: white;
            border: 1px solid black;
            padding-top: 10px;
            padding-bottom: 10px;
            max-height: 200px;
            overflow: scroll;

            .listItem {
              height: 30px;
              cursor: pointer;
              width: 100%;
              text-overflow: ellipsis;
              white-space: nowrap;
              font-size: 12px;
              overflow: hidden;
              padding: 7px 10px;

              &:hover {
                background-color: $light-grey;
                color: $teal
              }
            }
          }
        }
      }
    }

    .buttons {
      width: 100%;
      height: 40px;
      $buttonWidth: 140px;

      .cancel {
        background: $light-grey;
        border: 1px solid $dark-grey;
        color: $dark-grey;
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        width: $buttonWidth;
        height: 40px;
        margin-right: 30px;
        cursor: pointer;
      }
      .transfer {
        float: right;
        width: $buttonWidth;
        height: 40px;
        line-height: 18px;
        background: #3eb1c8;
        color: #FFFFFF;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
      .transferNotReady {
        border: 1px solid $dark-grey;
        background-color: white !important;
        color: $dark-grey !important;
        cursor: not-allowed !important;
      }
    }
  }
}